*{
    margin: 0;
    padding:0;
    color: antiquewhite;
}

.header{
    background-color: black;
    height: 70px;
    
}

h1{
    text-align: center;
    padding-top: 10px;
}

 .container{

    display: flex;
    flex-direction: row;
    justify-content: center;
} 

/* div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black
    ;
} */
.CGPA{
    height: 130px;
    width: 135px;
    background-color: aqua;
    text-align: center;
     /* margin:25px;
     margin-left: 25px;
    padding:25px;  */
    /* display: inline-block; */
    border-radius: 10px;
}

.SGPA{
    height: 130px;
    width: 135px;
    background-color: aqua;
    text-align: center;
     margin-left:25px; 
     /* margin: 90px;
    padding: 25px;
    padding: 80px 25px 25px 25px; */
    /* display: inline-block;  */
    border-radius: 10px;
}

.CGPA h2{
      padding-top: 50px;
      color: black;
}

.SGPA h2{
    padding-top: 50px;
    color: black;
}
